.main {
    background: #211F1F;
    padding: 65px;
    width: 100%;
    height: 100vh;
//     width: 1296px;
// height: 799px;
    border: 46px solid gray;
    overflow-x: hidden;
    overflow-y: auto;
    
    
}   

.content {
    min-height: 100px;
    
}



