.tag {
    font-style: normal;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 8.64px;
    &-medium {
        font-size: 20.2px;
    }
    &-big {
        font-size: 24px;
    }
    }