:root {
    --react: rgb(82, 162, 236);
    --js: rgb(235, 214, 27);
    --html: rgba(237, 34, 34, 0.65);
    --css: rgb(1, 78, 150);
    --project: rgb(64, 170, 15);
    --landing: rgb(0, 231, 19);
  }



  //tags
  .React {
      color: var(--react);
      &:hover{ 
        color: var(--react);
        text-decoration: none;
      }
  }

  .JavaScript {
      color: var(--js);
      &:hover{ 
        color: var(--js);
        text-decoration: none;
      }
  }

  .html {
      color: var(--html);
      &:hover{ 
        color: var(--html);
        text-decoration: none;
      }
  }

  .CSS {
      color: var(--css);
      &:hover{ 
        color: var(--css);
        text-decoration: none;
      }
  }

  .Project {
      color: var(--project);
      &:hover{ 
        color: var(--project);
        text-decoration: none;
      }
  }

  .Landing {
    color: var(--landing);
      &:hover{ 
        color: var(--landing);
        text-decoration: none;
      }
  }