// assets
@import 'components/assets/styles/bootstrap-reboot.min.scss';
@import 'components/assets/styles/fonts.scss';
@import 'components/assets/styles/variables.scss';
@import 'components/assets/styles/hamburger.scss';
@import 'components/assets/styles/scroll.scss';
@import 'components/assets/styles/tag.scss';

// adaptive
@import 'components/assets/styles/media/mobile.scss';


// components/blocks
@import 'components/Header/header.scss';
@import 'components/Search/search.scss';
@import 'components/Main/main.scss';
//посты
@import 'components/Posts/posts.scss';
@import 'components/Posts/Post/post.scss';

@import 'components/Footer/footer.scss';
// обратная связь
@import 'components/Feedback/feedback.scss';


* {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    &::selection {
        background-color: rgb(71, 71, 71);
    }
}

body {

    animation: fadeIn; 
    animation-duration: 0.5s; 
  }


  .hamburger {
      display: none;
  }